/* ---------------------------------------------------*/
/* BASIC SETUP */
/* ---------------------------------------------------*/

*{
    margin:0;
    padding:0;
    -webkit-box-sizing:border-box;
    box-sizing:border-box;
}

html{
    color:#fff;
    font-family:"open sans",sans-serif;
    font-weight:200;
    font-size:18px;
    text-rendering:optimizingegilibility;
}

.clearfix{zoom: 1}
.clearfix:after{
    content:"_";
    clear:both;
    display:block;
    height:0;
    visibility:hidden;
}
/* ---------------------------------------------------*/
/* REUSABLE COMPNENTS */
/* ---------------------------------------------------*/


.row{
    max-width:1140px;
    margin:0 auto;  
}

section{
    padding:80px;
}

/* ----HEADING----*/
h1,h2,h4{
    font-weight:300%;
    text-transform:uppercase;
    letter-spacing:1px;  
}

h1{
    margin:0;
    font-size:200%;
    word-spacing:3px;
}

h2{
    font-size:140%;
    word-spacing:2px;
    color:#000;
    margin-bottom:30px;
    text-align:center;
    font-family:roboto;
}

h3{
    font-size:110%;
    margin-bottom:15px;
    text-align:center;
}

h2:after{
    display:block;
    height:2px;
    background-color:#e67e22;
    content:" ";
    width:100px;
    margin: 0 auto;
    margin-top:30px;
}

/* -----paragraphs------ */
.long-copy{
    color:#2f2f2f;
    font-family:monospace;
    line-height:140%;
    width:80%;
    margin-left:15%;
}

/* -----ICONS----- */
.icon-big{
    font-size:350%;
    display:block;
    color:#e67e22;
    margin-bottom:10px;
}

.icon-small{
    display:inline-block;
    width:30px;
    text-align: center;
    color:#e67e22;
    font-size:120%;
/* secrets to align text and icons */
    line-height:100%;
    vertical-align:middle;
    margin-top:-4px;
}

/* ------LINKS------ */

a:link,
a:visited{
    color:#e67e22;
    text-decoration:none;
    padding-bottom:1px;
    border-bottom:1px solid #e67e22;
    -webkit-transition:border-bottom 0.2s, color 0.2s;
    transition:border-bottom 0.2s, color 0.2s
}

a:hover,
a:active{
    color:#555;
    border-bottom: 1px solid transparent;
}

/* ----BUTTON----*/
.btn:link, 
.btn:visited{
    display:inline-block;
    padding:10px 30px;
    font-weight:300;
    text-decoration:none;
    border-radius:200px;
    -webkit-transition:background-color 0.2s, border 0.2s, color 0.2s;
    transition:background-color 0.2s, border 0.2s, color 0.2s;
}

.btn-full:link, 
.btn-full:visited{
    background-color:#e67e22;
    border:1px solid #e67e22;
    color:#fff;
}


.btn-ghost:link, 
.btn-ghost:visited{
    border:1px solid #e67e22;
    color:#e67e22;
}

.btn:hover, 
.btn:active{
    background-color:#bf6516;
}

.btn-full:hover, 
.btn-full:active{
     border:1px solid #e67e22;
}


.btn-ghost:hover, 
.btn-ghost:active{
    border:1px solid #e67e22;
    color:#fff;
}

/* ----------------------------------------------- */
/* HEADER */
/* ----------------------------------------------- */
header{
    background-image:-webkit-gradient(linear,left top, left bottom,from(rgba(0, 0, 0, 0.6)),to(rgb(0, 0, 0, 0.6))),url(img/burger-and-vegetables-placed-on-brown-wood-surface-1565982.jpg);
    background-image:linear-gradient(rgba(0, 0, 0, 0.6),rgba(0, 0, 0, 0.6)),url(img/burger-and-vegetables-placed-on-brown-wood-surface-1565982.jpg); 
    background-size:cover;
    background-position:center;
    height:100vh; 
    background-attachment: fixed;
}

.hero-text-box{
    position:absolute;
    width:1140px;
    top:50%;
    left:50%;
    -webkit-transform:translate(-50%,-50%);
    transform:translate(-50%,-50%);
}

.logo{
    height:100px;
    width:auto;
    float:left;
    margin-top:20px;
}

/* main navi */

.main-nav{
    float:right;
    list-style:none;
    margin-top:55px;
}

.main-nav li{
    display:inline-block;
    margin-left:40px;
}

.main-nav li a:link, 
.main-nav li a:visited{
    padding:8px 0;
    color:#fff;
    text-decoration:none;
    text-transform:uppercase;
    font-size:90%;
    border-bottom:2px solid transparent;
    -webkit-transition:border-bottom 0.2s;
    transition:border-bottom 0.2s;
}

.main-nav li a:hover, 
.main-nav li a:active{
    border-bottom:2px solid #e67e22;
}

/* Mobile navi */

.mobile-nav-icon{
    float:right;
    margin-top:30px;
    cursor:pointer;
    display:none;
}

.mobile-nav-icon i{
    font-size:150%;
    color:#fff;
}

/* Sticky navi */
.sticky{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    background-color:rgba(255, 255, 255, 0.95);
    box-shadow: 0 2px 2px #efefef;
    z-index: 9999;
}

.sticky .logo{
    height:53px;
    width:auto;
    float:left;
    margin-top:3px;
}

.sticky .main-nav{
    margin-top:18px;
}

.sticky .main-nav li a:link,
.sticky .main-nav li a:visited{
     padding:16px 0;
     color:#555;
}

/* --------------------------------- */
/* -----SECTION MEALS----- */
/* --------------------------------- */
.section-meals{
    padding:0;
    margin-bottom:7%;
}

.meal-photo{
    display:block;
    float:left;
    width:25%;
    height:auto;  
    overflow: hidden;
    opacity:0.7;
    -webkit-transform:scale(1);
    transform:scale(1);
    -webkit-transition: opacity 0.5s, -webkit-transform 0.5s;
    transition: opacity 0.5s, -webkit-transform 0.5s;
    transition: transform 0.5s, opacity 0.5s;
    transition: transform 0.5s, opacity 0.5s, -webkit-transform 0.5s;
}

.meals-showcase::after{
    content:" ";
    clear:both;
   display:table;
}

.meal-photo:hover{
    opacity:1;
    -webkit-transform: scale(1.03);
    transform: scale(1.03);
}

/* ------------------------------------------ */
/* HOW IT WORKS */
/* ------------------------------------------ */

.section-steps{
    background-color:#c4c4c4;
}
.steps-box:first-child{
    text-align:right;
    padding-right:3%;
    margin-top:30px;
}

.steps-box:last-child{
    padding-left:3%;
    margin-top:80px;  
}

.app-screen{
    width:17%;
    float:left;
    margin-left:165px; 
}

.works-step{
    margin-bottom:50px;
    padding-left:40%;
    font-size:100%;
}

.work-steps:last-of-type{
    margin-bottom:60px;
}

.works-step div{
    color:#e67e22;
    border: 2px solid #e67e22;
    display:inline-block;
    border-radius:50%;
    height:55px;
    width:55px;
    text-align:center;
    float:left;
    font-size:210%;
    margin-right:25px; 
    margin-bottom:30px;
}
   
.btn-app:link,
.btn-app:visited{
    border:0;
}

.btn-app img{
  height:155px;
  width:155px;
  padding:8px 3px;;
  cursor:pointer;
}

/* ----------------------------- */
/* ----- CITIES ----- */
/* ----------------------------- */

.box img{
   width:25%;
   height:auto;
   margin-right:5px;
}

.city-feature{
    margin-bottom:5px;
}

/* ----------------------------- */
/* TESTIMONIALS */
/* ----------------------------- */
#section-testimonials{
    background-image: -webkit-gradient(linear,left top, left bottom,from(rgba(0, 0, 0, 0.7)),to(rgba(0, 0, 0, 0.7))), url(img/pizza.jpg);
    background-image: linear-gradient(rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.7)), url(img/pizza.jpg);
    background-size: cover;
    background-attachment: fixed;
}

h4{
    text-align: center;
    color:#fff;
    font-size:145%;
    word-spacing:2px;
    font-family:open sans;
    
}

.container { 
  border-radius: 50%;
  padding: 16px;
  margin: 16px 0;
  color:#fff;
}

.container::after {
  content: "";
  clear: both;
  display: table;
}

.container img {
  float: left;
  margin-right: 20px;
  border-radius: 50%;
}

.container span {
  font-size: 20px;
  margin-right: 15px;
}

@media (max-width: 500px) {
  .container {
      text-align: center;
  }
  .container img {
      margin: auto;
      float: left;
      display: block;
  }
}


/* --------------------------- */
/* ----SIGN UP ----- */
/* --------------------------- */
.columns {
  float: left;
  width: 30.33%;
  padding: 8px;
  margin-bottom:80px;
  margin-left:30px; 
}

.price {
  list-style-type: none;
  border: 1px solid #e2e2e2;
  margin:0;
  padding:0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.price:hover {
  -webkit-box-shadow: 0 8px 12px 0 rgba(0,0,0,0.2);
  box-shadow: 0 8px 12px 0 rgba(0,0,0,0.2)
}

.price .header {
  background-color:#f5f5f5;
  color:#000;
  font-size: 25px;
  text-align:left;
}

.price li {
  padding: 15px;
  text-align: center;
  color:#000;
  background-color:#f5f5f5;
}

.price .plan-price {
  font-size: 290%;
  font-weight:100%;
  color:#e67e22;
  font-family:open sans;
  border-bottom:1px solid #d6d6d6;
}

.price .plan-price span{
    font-size:30%;
    font-weight:300;
}

@media only screen and (max-width: 700px) {
  .columns {
    width: 90%;
  }
}

/* --------------------------- */
/* -----CONTACT FORM ----- */
/* --------------------------- */
form {
  padding-left: 400px;
  padding-right: 400px;
}

input[type=text], select, textarea{
  width: 100%;
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 2px;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit]{
    background-color:#e67e22;
    border:1px solid #e67e22;
    color:#fff;
    border-radius:200px;
    padding:10px 30px;
    font-weight:300;
    text-decoration:none;
}

input[type=submit]:hover,
input[type=submit]:active{
    background-color:#bf6516;
}

 .row {
  color:#000;
}

/* ----------------------- */
/* ----FOOTER----- */
/* ----------------------- */

.navbar{
  overflow: hidden;
  background-color: #333;
  bottom: 0;
  width: 100%;
}

.navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  border-bottom:none;
}

.navbar a:hover {
  background: #f1f1f1;
  color: black;
}

.navbar a.active {
  color: white;
}

.social-links {
    float:right;
    margin-right:3%;
}

.social-links a {
    color:#f2f2f2;
    padding: 14px 16px;
    border-bottom:none;
}

.social-links a:hover{
    background: #f1f1f1;
    color: black;
}

.main {
  text-align:center;
  padding: 40px;
  margin-bottom:0px;
  color:#fff;
  background-color: #333;
}

/* -------------------- */
/* Animation */
/* -------------------- */

.js--wp-1,
.js--wp-2,
.js--wp-3{
    opacity:0;
    -webkit-animation-duration:1s;
    animation-duration:1s;
}

.js--wp-1.animated,
.js--wp-2.animated,
.js--wp-3.animated{
    opacity:1;
}

