/* ---------------------------------------------------*/
/* BASIC SETUP */
/* ---------------------------------------------------*/

*{
    margin:0;
    padding:0;
    -webkit-box-sizing:border-box;
    box-sizing:border-box;
}

html{
    color:#fff;
    font-family:"open sans",sans-serif;
    font-weight:200;
    font-size:18px;
    text-rendering:optimizingegilibility;
}

.clearfix{zoom: 1}
.clearfix:after{
    content:"_";
    clear:both;
    display:block;
    height:0;
    visibility:hidden;
}
/* ---------------------------------------------------*/
/* REUSABLE COMPNENTS */
/* ---------------------------------------------------*/


.row{
    max-width:1140px;
    margin:0 auto;  
}

section{
    padding:80px;
}

/* ----HEADING----*/
h1,h2,h4{
    font-weight:300%;
    text-transform:uppercase;
    letter-spacing:1px;  
}

h1{
    margin:0;
    font-size:200%;
    word-spacing:3px;
}

h2{
    font-size:140%;
    word-spacing:2px;
    color:#000;
    margin-bottom:30px;
    text-align:center;
    font-family:roboto;
}

h3{
    font-size:110%;
    margin-bottom:15px;
    text-align:center;
    font-family:roboto;
}

h2:after,h5:after{
    display:block;
    height:2px;
    background-color:#e67e22;
    content:" ";
    width:100px;
    margin: 0 auto;
    margin-top:30px;
}

h5{
    font-size:160%;
    margin-bottom:15px;
    text-align:center;
    font-family:open sans;
}

/* -----paragraphs------ */
.long-copy{
    color:#2f2f2f;
    font-family:monospace;
    line-height:140%;
    width:80%;
    margin-left:15%;
}

/* -----ICONS----- */
.icon-big{
    font-size:350%;
    display:block;
    color:#fd6b00;
    margin-bottom:10px;
}

.icon-small{
    display:inline-block;
    width:30px;
    text-align: center;
    color:#fd6b00;
    font-size:120%;
/* secrets to align text and icons */
    line-height:100%;
    vertical-align:middle;
    margin-top:-4px;
}

/* ------LINKS------ */

a:link,
a:visited{
    color:#e67e22;
    text-decoration:none;
    padding-bottom:1px;    
}

a:hover,
a:active{
    color:#e67e22;
    border-bottom:1px solid #e67e22;
}

/* ----BUTTON----*/
.btn:link, 
.btn:visited{
    display:inline-block;
    padding:10px 30px;
    font-weight:300;
    text-decoration:none;
    border-radius:200px;
    -webkit-transition:background-color 0.2s, border 0.2s, color 0.2s;
    transition:background-color 0.2s, border 0.2s, color 0.2s;
}

.btn-full:link, 
.btn-full:visited{
    background:#fd6b00; 
    border:1px solid #fd6b00;
    color:#fff;
}

.btn-ghost:link, 
.btn-ghost:visited{
    border:1px solid #e67e22;
    color:#e67e22;
}

.btn:hover, 
.btn:active{
    background:#d96814;
}

.btn-full:hover, 
.btn-full:active{
     border:1px solid #e67e22;
}


.btn-ghost:hover, 
.btn-ghost:active{
    border:1px solid #e67e22;
    color:#fff;
}

/* ----------------------------------------------- */
/* HEADER */
/* ----------------------------------------------- */
header{
    background-image:-webkit-gradient(linear,left top, left bottom,from(rgba(0, 0, 0, 0.5)),to(rgb(0, 0, 0, 0.5))),url(img/burger-and-vegetables-placed-on-brown-wood-surface-1565982.jpg);
    background-image:linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)),url(img/burger-and-vegetables-placed-on-brown-wood-surface-1565982.jpg); 
    background-size:cover;
    background-position:center;
    height:100vh; 
    background-attachment: fixed;
}

.hero-text-box{
    position:absolute;
    width:1140px;
    top:50%;
    left:50%;
    -webkit-transform:translate(-50%,-50%);
    transform:translate(-50%,-50%);
}

.logo{
    height:100px;
    width:auto;
    float:left;
    margin-top:20px;
}

/* main navi */

.main-nav{
    float:right;
    list-style:none;
    margin-top:55px;
}

.main-nav li{
    display:inline-block;
    margin-left:40px;
}

.main-nav li a:link, 
.main-nav li a:visited{
    padding:8px 0;
    color:#fff;
    text-decoration:none;
    text-transform:uppercase;
    font-size:90%;
    border-bottom:2px solid transparent;
    -webkit-transition:border-bottom 0.2s;
    transition:border-bottom 0.2s;
}

.main-nav li a:hover, 
.main-nav li a:active{
    border-bottom:2px solid #e67e22;
}

/* Mobile navi */

.mobile-nav-icon{
    float:right;
    margin-top:30px;
    cursor:pointer;
    display:none;
}

.mobile-nav-icon i{
    font-size:150%;
    color:#fff;
}

/* Sticky navi */
.sticky{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    background-color:rgba(255, 255, 255, 0.95);
    box-shadow: 0 2px 2px #efefef;
    z-index: 9999;
}

.sticky .logo{
    height:53px;
    width:auto;
    float:left;
    margin-top:3px;
}

.sticky .main-nav{
    margin-top:18px;
}

.sticky .main-nav li a:link,
.sticky .main-nav li a:visited{
     padding:16px 0;
     color:#555;
}

/* --------------------------------- */
/* -----SECTION MEALS----- */
/* --------------------------------- */
.section-meals{
    padding:0;
    margin-bottom:8%;
}

.meal-photo{
    display:block;
    float:left;
    width:25%;
    height:auto;  
    overflow: hidden;
    opacity:0.7;
    -webkit-transform:scale(1);
    transform:scale(1);
    -webkit-transition: opacity 0.5s, -webkit-transform 0.5s;
    transition: opacity 0.5s, -webkit-transform 0.5s;
    transition: transform 0.5s, opacity 0.5s;
    transition: transform 0.5s, opacity 0.5s, -webkit-transform 0.5s;
}

.meals-showcase::after{
    content:" ";
    clear:both;
   display:table;
}

.meal-photo:hover{
    opacity:1;
    -webkit-transform: scale(1.03);
    transform: scale(1.03);
}

/* ------------------------------------------ */
/* HOW IT WORKS */
/* ------------------------------------------ */

.section-steps{
    background-color:#c4c4c4;
}
.steps-box:first-child{
    text-align:right;
    padding-right:3%;
    margin-top:30px;
}

.steps-box:last-child{
    padding-left:3%;
    margin-top:80px;  
}

.app-screen{
    width:17%;
    float:left;
    margin-left:160px; 
}

.works-step{
    margin-bottom:50px;
    padding-left:40%;
    font-size:100%;
}

.work-steps:last-of-type{
    margin-bottom:60px;
}

.works-step div{
    color:#e67e22;
    border: 2px solid #e67e22;
    display:inline-block;
    border-radius:50%;
    height:55px;
    width:55px;
    text-align:center;
    float:left;
    font-size:210%;
    margin-right:25px; 
    margin-bottom:30px;
}
   
.btn-app:link,
.btn-app:visited{
    border:0;
}

.btn-app img{
  height:155px;
  width:155px;
  padding:8px 3px;;
  cursor:pointer;
}

/* ----------------------------- */
/* ----- CITIES ----- */
/* ----------------------------- */
.section-cities{
    padding-bottom: 5px;
}

.column{
    color:#000;
    float:left;
    width:22.33%;
    padding: 3px;
    margin-left: 25px;
    margin-bottom: 100px;
    padding-bottom: 45px;
}

.row::after{
    content:"";
    clear:both;
    display:table;
}

.city-feature{
    margin-bottom:5px;
    color:#000;
}

/* ----------------------------- */
/* TESTIMONIALS */
/* ----------------------------- */
#section-testimonials{
    background-image: -webkit-gradient(linear,left top, left bottom,from(rgba(0, 0, 0, 0.7)),to(rgba(0, 0, 0, 0.7))), url(img/pizza.jpg);
    background-image: linear-gradient(rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.7)), url(img/pizza.jpg);
    background-size: cover;
    background-attachment: fixed;
}

h4{
    text-align: center;
    color:#fff;
    font-size:145%;
    word-spacing:2px;
    font-family:open sans;
    
}

.container { 
  border-radius: 50%;
  padding: 16px;
  margin: 16px 0;
  color:#fff;
}

.container::after {
  content: "";
  clear: both;
  display: table;
}

.container img {
  float: left;
  margin-right: 20px;
  border-radius: 50%;
}

.container span {
  font-size: 20px;
  margin-right: 15px;
}

@media (max-width: 500px) {
  .container {
      text-align: center;
  }
  .container img {
      margin: auto;
      float: left;
      display: block;
  }
}

/* --------------------------- */
/* ----SIGN UP ----- */
/* --------------------------- */
.section-plans{
    background-image: linear-gradient(rgba(0, 0, 0, 0.6),rgba(0, 0, 0, 0.6)),url(img/pexels-ella-olsson-1640774.jpg);
}

.columns {
  float: left;
  width: 30.33%;
  padding: 8px;
  margin-bottom:80px;
  margin-left:30px; 
  background-color:#fff;
}

.price {
  list-style-type: none;
  border: 1px solid #e2e2e2;
  margin:0;
  padding:0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.price:hover {
  -webkit-box-shadow: 0 8px 12px 0 rgba(0,0,0,0.2);
  box-shadow: 0 8px 12px 0 rgba(0,0,0,0.2)
}

.price .header {
  background:transparent;
  color:#000;
  font-size: 25px;
  text-align:left;
}

.price li {
  padding: 15px;
  text-align: center;
  color:#000;
    font-size:110%;
  background:transparent;
}

.price .plan-price {
  font-size: 290%;
  font-weight:100%;
  color:#fc6406;
  font-family:open sans;
  border-bottom:1px solid #d6d6d6;
}

.price .plan-price span{
    font-size:30%;
    font-weight:300;
    color:#fff;
}

@media only screen and (max-width: 700px) {
  .columns {
    width: 90%;
  }
}

/* --------------------------- */
/* -----CONTACT FORM ----- */
/* --------------------------- */

.contact-form{
  background-image:linear-gradient(rgba(0, 0, 0, 0.6),rgba(0, 0, 0, 0.6)),url(img/pexels-ella-olsson-1640774.jpg);
  background-size: cover;
}

input[type=text], select, textarea{
  width: 100%;
  border: 1px solid #ccc;
  padding: 15px;
  border-radius: 2px;
  margin-top: 6px;
  margin-bottom: 16px; 
  resize: vertical;
  background: transparent;
  color:#000;
}

input[type=submit]{
    background:transparent;
    border:1px solid #ff4906;
    color:#fff;
    border-radius:200px;
    padding:10px 30px;
    font-weight:300;
    text-decoration:none;
}

input[type=submit]:hover,
input[type=submit]:active{
    background:#f76408;
}


/* ----------------------- */
/* ----FOOTER----- */
/* ----------------------- */

.navbar{
  overflow: hidden;
  background-color: #333;
  bottom: 0;
  width: 100%;
}

.navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  border-bottom:none;
}

.navbar a:hover {
  background: #f1f1f1;
  color: black;
}

.navbar a.active {
  color: white;
}

.social-links {
    float:right;
    margin-right:3%;
}

.social-links a {
    color:#f2f2f2;
    padding: 14px 16px;
    border-bottom:none;
}

.social-links a:hover{
    background: #f1f1f1;
    color: black;
}

.main {
  text-align:center;
  padding: 40px;
  margin-bottom:0px;
  color:#fff;
  background-color: #333;
}

/* Full-width input fields */
  input[type=text], input[type=password] {
  width: 100%;      
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  color:#fff;  
  border: 1px solid #ccc;
  font-family: monospace;
  background: transparent;
}

/* Set a style for all buttons */
button {  
    display:inline-block;
    padding:10px 30px;
    font-weight:300;
    text-decoration:none;
    border-radius:200px;
    border:1px solid #f76408;
    color:#fff;
    background:#f76408;
}

button:hover {
  background:#ff8c00;
  border:1px solid #ff8c00;
  color:#fff;
}

/* Add padding to container elements */
.container {
  padding: 16px;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  padding-top: 10px;
}

/* Modal Content/Box */
.modal-content {
  background:linear-gradient(rgba(0, 0, 0, 0.3),rgba(0, 0, 0, 0.3)),url(img/pexels-jess-bailey-designs-913136.jpg);
  background-size:cover;
  margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  width: 40%; /* Could be more or less, depending on screen size */
    padding-left: 80px;
    padding-right:70px;
}
.container b{
    float: left;
    font-family: sans-serif;
}

.container p{
    font-size:95%;
    padding-bottom:8px; 
}
.container span{
    font-family: monospace;
}

/* The Close Button (x) */
.close {
  padding-top:35px;
  position: absolute;
  right: 35px;
  top: 15px;
  font-size: 40px;
  font-weight: bold;
  color: #f1f1f1;
}

.close:hover,
.close:focus {
  color: #f44336;
  cursor: pointer;
}

/* Clear floats */
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

/* ---Flex box-----*/

 .flexbox{
  color: #444;
  font-family: Roboto;
  padding: 50px;
  background: linear-gradient(to bottom right, #67b26f, #4ca2cd);
  height: 100vh;
  
  display: flex;
  align-items: center; 
  justify-content: center; 
}
.pizza {
  max-width: 800px;
  border-radius: 4px;
  overflow: hidden;
  box-shadow: 0 30px 80px 10px rgba(0,0,0,.2);
  
  display: flex;
  align-items: stretch;
}

.pizza__hero {
  flex: 0 0 45%;
}

.pizza__img {
  width: 100%;
  display: block;
}

.pizza__content {
  flex: 1;
  background: white;
  padding: 35px 30px;
  
  display: flex;
  flex-direction: column;
}

.pizza__price {
  flex: 0 0 50px;
  background: linear-gradient(to bottom, #67b26f, #4ca2cd);
  writing-mode: vertical-rl;
  color: white;
  font-size: 18px;
  
  display: flex;
  align-items: center;
  justify-content: center;
}

.pizza__title {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.pizza__heading {
  font-size: 20px;
  margin-right: auto;
}

.pizza__tag {
  font-size: 10px;
  text-transform: uppercase;
  color: white;
  padding: 2px 7px;
  border-radius: 100px;
  margin-left: 7px;
}

.pizza__tag--1 { background-color: #67b26f; }
.pizza__tag--2 { background-color: #4ca2cd; }

.pizza__description {
  font-size: 14px;
}

.pizza__details {
  display: flex;
  margin-top: auto;
}

.pizza__detail {
  font-size: 15px;
  text-transform: uppercase;
  margin-right: 20px;
  font-weight: 700;
  
  display: flex;
  align-items: center;
}

.emoji {
  font-size: 20px;
  margin-right: 3px;
}
/* -------------------- */
/* Animation */
/* -------------------- */

.js--wp-1,
.js--wp-2,
.js--wp-3,
.js--wp-4{
    opacity:0;
    -webkit-animation-duration:1s;
    animation-duration:1s;
}

.js--wp-1.animated,
.js--wp-2.animated,
.js--wp-3.animated,
.js--wp-4.animated{
    opacity:1;
}
